body {
  min-width: 800px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.container {
  width: 800px;
  max-width: none !important;
  padding: 0px;
  margin: 0px;
}
div.audiojs {
  display: none;
}
.containerProbs {
  width: 800px;
  height: 600px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  border: 1px solid #C3C3C3;
}
#menuItem {
  width: 800px;
  height: 600px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  border: 1px solid #C3C3C3;
}
#menuItem h3 {
  color: #333;
  opacity: 0.8;
  margin-top: 0;
}
#menuItem .breadcrumb {
  position: absolute;
  top: 560px;
  width: 800px;
  opacity: 0.8;
  font-size: 18px;
}
#menuItem:before {
  position: absolute;
  font-family: FontAwesome;
  top: 330px;
  left: 580px;
  color: #C3C3C3;
  font-size: 200px;
}
#menuItem .options {
  background-color: #f2dede;
}
#menuItem .options .dl-horizontal,
#menuItem .options .form-control,
#menuItem .options label,
#menuItem .options .popover {
  font-size: 24px;
}
#menuItem .options .popover-title {
  display: none;
}
#menuItem .options .btn:focus {
  color: #000000;
  font-weight: bold;
}
#menuItem.main_options {
  background-color: #f2dede;
}
#menuItem.main_options:before {
  content: "\f0ad";
}
#menuItem.main_options .dl-horizontal,
#menuItem.main_options .form-control,
#menuItem.main_options label,
#menuItem.main_options .popover {
  font-size: 24px;
}
#menuItem.main_options .popover-title {
  display: none;
}
#menuItem.main_options .btn:focus {
  color: #000000;
  font-weight: bold;
}
#menuItem.sysinfos {
  background-color: #f2dede;
}
#menuItem.sysinfos:before {
  content: "\f129";
}
#menuItem.sysinfos .dl-horizontal,
#menuItem.sysinfos .form-control,
#menuItem.sysinfos label,
#menuItem.sysinfos .popover {
  font-size: 24px;
}
#menuItem.sysinfos .popover-title {
  display: none;
}
#menuItem.sysinfos .btn:focus {
  color: #000000;
  font-weight: bold;
}
#menuItem.wifi_settings {
  background-color: #f2dede;
}
#menuItem.wifi_settings:before {
  content: "\f1eb";
}
#menuItem.wifi_settings .dl-horizontal,
#menuItem.wifi_settings .form-control,
#menuItem.wifi_settings label,
#menuItem.wifi_settings .popover {
  font-size: 24px;
}
#menuItem.wifi_settings .popover-title {
  display: none;
}
#menuItem.wifi_settings .btn:focus {
  color: #000000;
  font-weight: bold;
}
#menuItem.restart {
  background-color: #f2dede;
}
#menuItem.restart:before {
  content: "\f01e";
}
#menuItem.restart .dl-horizontal,
#menuItem.restart .form-control,
#menuItem.restart label,
#menuItem.restart .popover {
  font-size: 24px;
}
#menuItem.restart .popover-title {
  display: none;
}
#menuItem.restart .btn:focus {
  color: #000000;
  font-weight: bold;
}
#menuItem.shutdown {
  background-color: #f2dede;
}
#menuItem.shutdown:before {
  content: "\f011";
}
#menuItem.shutdown .dl-horizontal,
#menuItem.shutdown .form-control,
#menuItem.shutdown label,
#menuItem.shutdown .popover {
  font-size: 24px;
}
#menuItem.shutdown .popover-title {
  display: none;
}
#menuItem.shutdown .btn:focus {
  color: #000000;
  font-weight: bold;
}
#menuItem.section {
  background-color: #428bca;
}
#menuItem.section:before {
  content: "\f07c";
}
#menuItem.directory {
  background-color: #428bca;
}
#menuItem.directory:before {
  content: "\f07c";
}
#menuItem.playall {
  background-color: #f0ad4e;
}
#menuItem.playall:before {
  content: "\f122";
}
#menuItem.file {
  background-color: #5cb85c;
}
#menuItem.file:before {
  content: "\f1c7";
}
#menuItem.player {
  background-color: #5bc0de;
}
#menuItem.player:before {
  content: "\f028";
}
