/* highlight played item */
li.playing {
  background-color: #E1E1E1;
}

/* hide the audiojs player */
div.audiojs {
  display: none;
}


/* hide the progress bars for the player */
.progress {
  display: none;
}

/* disable transitions on the progress bars */
.progress .progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

#menuItem {
  width: 800px;
  height: 600px;
  background-size: 800px 600px;
  text-align: center;
  border: 1px solid #C3C3C3;
}

#menuItem h3 {
  color: #333;
  opacity: 0.8;
}


#menuItem .breadcrumb {
  position: relative;
  top: 478px;
  opacity: 0.8;

}

#menuItem.section {
  background-color: #428bca;
}

#menuItem.section:before {
  position:absolute;
  font-family: FontAwesome;
  top:350px;
  left:600px;
  color: #C3C3C3;
  font-size: 200px;
  content: "\f07c"; <--- this is your text. You can also use UTF-8 character codes as I do here
}



#menuItem.settings {
  background-color: #d9534f;
}

#menuItem.settings:before {
  position:absolute;
  font-family: FontAwesome;
  top:350px;
  left:600px;
  color: #C3C3C3;
  font-size: 200px;
  content: "\f0ad"; <--- this is your text. You can also use UTF-8 character codes as I do here
}


#menuItem.directory {
  background-color: #428bca;
}

#menuItem.directory:before {
  position:absolute;
  font-family: FontAwesome;
  top:350px;
  left:600px;
  color: #C3C3C3;
  font-size: 200px;
  content: "\f07c"; <--- this is your text. You can also use UTF-8 character codes as I do here
}


#menuItem.playall {
  background-color: #f0ad4e;
}

#menuItem.playall:before {
  position:absolute;
  font-family: FontAwesome;
  top:350px;
  left:600px;
  color: #FFFFFF;
  font-size: 200px;
  content: "\f122"; <--- this is your text. You can also use UTF-8 character codes as I do here
}

#menuItem.file {
  background-color: #5cb85c;
}

#menuItem.file:before {
  position:absolute;
  font-family: FontAwesome;
  top:350px;
  left:600px;
  color: #C3C3C3;
  font-size: 200px;
  content: "\f1c7"; <--- this is your text. You can also use UTF-8 character codes as I do here
}
